html {
    box-sizing: border-box;
}

html,
body {
	height: 100%;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: $text;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: $text;
    outline: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-fluid {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 100%;
}

@media (max-width: 720px) {
    .container-fluid {
        padding: 0 15px;
    }
}

.page-content {
    background-color: $gray;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}


.title {
    color: $bg;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 30px;
    @include f700;
}

.rate-star {
    display: inline-block;
    margin-right: 13px;
}

.breadcrumbs {
    &__inner {
        padding: 45px 0 40px;
    }
    &__list {
        li {
            display: inline-block;
            position: relative;
        & + li {
            padding-left: 24px;
             &::before{
                content: '-';
                position: absolute;
                left: 8px;
                color: $green;
            }
        }
            &:last-child{
                a,
                span {
                    color: $bg;
                }
            }    
    }
    a {
        color: #b0bec5;         
    }         
  }    
}

.angle-right {
    position: relative;
    padding-left: 25px;
    
    &::before {
        content: "\ea42";
        font-family: 'icomoon';
        position: absolute;
        left: 0;
        color: $green;
        font-size: 14px;
    }
}

